@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin:0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: border-box;
    font-family: 'Poppins', sans-serif;
}

#register-body, #main-body, #login-body{
    background: #28ce54;
}

.white{
    color: #fff;
}

.green{
    color: #28ce54;
}



 
        /* General form styles */

        .btn-white{
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #fff;
            color: #28ce54;
            font-size: 1rem;
            cursor: pointer;
            max-width: 400px;
            transition: background-color 0.3s;
        }

        
        .regform{
            background: #fff;
            padding: 2rem;
            border-radius: 10px;
            justify-content: center;
            align-items: center;  
            margin-bottom: 1rem;
            max-width: 600px;
            margin: 0 auto;
            
            
        }

        .regform input[type="email"],
        .regform input[type="text"],
        .regform input[type="password"],
        .regform input[type="date"]
         {
            width: 100%;
            padding: 10px;
            margin-bottom: 1rem;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            transition: border-color 0.3s;
        }

        .regform input[type="email"]:focus,
        .regform input[type="text"]:focus,
        .regform input[type="password"]:focus,
        .regform input[type="date"]:focus {
            border-color: #4caf50;
            outline: none;
            box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
        }

        .regform .form-text {
            margin-bottom: 1rem;
            color: #6c757d;
        }

        .regform .btn {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #4caf50;
            color: white;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .regform .btn:hover {
            background-color: #45a049;
        }

       
        .btn.submit-btn {
            max-width: 200px;
        }



        

        .error-message {
            color: red;
            margin-top: -1rem;
            margin-bottom: 1rem;
        }

        /* Add some spacing to the input group */
        .input-group {
            margin-bottom: 1rem;
            margin-left: 1rem;
            margin-right: 1rem;
        }

     


    